.HeaderContainer {
  // margin-bottom: 100px;
  h1 {
    font-size: 1.5rem;
    letter-spacing: 0.3rem;

    text-align: center;

    color: rgb(184, 49, 49);
    width: 100%;
  }
  .h1:hover {
    cursor: pointer;
  }
}
